Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
ansible
docker-compose.yml
docker-compose.live.yml
public/storage
server.php
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
tests
.editorconfig
.env.example
.env.testing
.eslintr.json
.git
.gitignore
.php-cs-fixer.php
.stylelintrc.json
phpunit.xml
vite.config.js
package-lock.json
package.json
docker-compose.override.yml
