name: vereinfacht

networks:
  web:
    external: true
  stack:
    external: false

volumes:
  mariadb:
  storage:

services:
  database:
    image: mariadb:11.8
    working_dir: /var/www/html
    volumes:
      - mariadb:/var/lib/mysql:cached
    networks:
      - stack
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=true
      - MYSQL_DATABASE=verein
      - MYSQL_USER=verein
      - MYSQL_PASSWORD=verein
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci --sql_mode=''

  api:
    # image: verein_api:latest
    depends_on:
      - database
    networks:
      - web
      - stack
    env_file:
      - .env_api
    volumes:
      - storage:/var/www/html/storage
    working_dir: /var/www/html
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always

  queue:
    image: git.visuellverstehen.de:4567/verein/web_application/api:main
    networks:
      - stack
    env_file:
      - .env_api
    volumes:
      - storage:/var/www/html/storage
    working_dir: /var/www/html
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
    command: ["su", "vvuser", "-c", "php artisan queue:work --tries=3"]

  schedule:
    image: git.visuellverstehen.de:4567/verein/web_application/api:main
    networks:
      - stack
    env_file:
      - .env_api
    volumes:
      - storage:/var/www/html/storage
    working_dir: /var/www/html
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
    command: ["su", "vvuser", "-c", "php artisan schedule:work"]

  web_application:
    # image: verein_web_application:latest
    depends_on:
      - api
      - database
    networks:
      - web
      - stack
    env_file:
      - .env_web_application
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
