@import '../../globals.css' reference;

.description a {
    @apply underline decoration-slate-500 decoration-1 underline-offset-2 transition-all duration-300 hover:text-blue-500 hover:decoration-current;
}
